@import "tailwindcss";
@plugin "daisyui";
 /* @plugin "daisyui" {
   themes: light --default, dark --prefersdark; */
 /* }  */ 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #124170;
  --color-secondary: #D6DAC8;
  --color-accent: #d9c4b0;
  --color-warning: #cfab8d;
  --color-base-100: #000000;
}
