@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #124170;
  --color-secondary: #D6DAC8;
  --color-accent: #d9c4b0;
  --color-warning: #cfab8d;
  --color-base-100: #000000;
}
